version: 2
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "[uv]"
      include: "scope"
    groups:
      dependencies:
        applies-to: version-updates
        patterns:

          - "*"
