*.env
Bot/.env
.vscode 
*.vscode 
*.idea 
.idea
__pycache__
reddit-api-oauth.py
reddit
*reddit.db
*responses.json
Kana
.pytest_cache
disquest
.dccache
*.dccache 
.metadata
*.metadata
json_parser.py
deviantarttest.py
chat/responses.json
chat
*.un~ # Vim's temp files
*.py~ # Also Vim's temp files
.py~
.un~
.jisho.py.un~
jisho.py~
.gitignore~
..gitignore.un~
kanji_jmdict.py
tester.py
twitterv2_cred.yaml
qrcode
changelog.md.un~
*changelog.md~
jikan-tester.py
spiget-tester.py
instagram-tester.py
modrinth-tester.py
top-gg-tester.py
pinterest-tester.py
spotify-tester.py
Cog-Testers/
.cache
DeviantArt_API_Keys.txt
deviantart_links
Cogs-Misc/
deviantart-tokens/
test.db
text.txt
tokens.db
daTokens/
button-test.py
spotify-links.txt
Bot/Cogs/test.py
test.sh
smarter-help.py