redactions = ["DB_PASSWORD"]

[tools]
uv = "0.9.26"
atlas = "latest"


[settings]
experimental = true
pin = true


[env]
_.file = [{ path = "{{ config_root }}/.env" }]
DATABASE_URL = "postgres://{{env.DB_USERNAME}}:{{env.DB_PASSWORD}}@localhost:5432/{{env.DB_DATABASE}}?sslmode=disable"


[tasks."bot:up"]
alias = ["bot:start", "bot:dev"]
depends = ["bot:check-config"]
description = "Starts up the bot for development"
env._.path = ".venv/bin"
dir = "{{ config_root }}"
run = "python3 src/main.py"

[tasks."bot:lint"]
description = "Lints the codebase by type checking and general linting"
env._.path = ".venv/bin"
dir = "{{ config_root }}"
run = ["pyright src", "ruff check src --fix --unsafe-fixes --exit-non-zero-on-fix"]

[tasks."bot:format"]
description = "Formats the codebase"
env._.path = ".venv/bin"
dir = "{{ config_root }}"
run = "ruff format src"

[tasks."bot:check"]
description = "Lint and format codebase. This is necessary to handle import sorting and formatting. TD;LR: Run this task once you are done with development at the end of the PR"
run = [{ task = "bot:lint" }, { task = "bot:format" }]

[tasks."bot:schema:plan"]
depends = ["bot:check-env"]
description = "Plans schema diffs"
run = "atlas schema plan --to file://src/schema.sql --env local --var url=$DATABASE_URL"
run_windows = "atlas schema plan --to file://src/schema.sql --env local --var url=%DATABASE_URL%"

[tasks."bot:schema:apply"]
depends = ["bot:check-env"]
description = "Applies schema diffs to database"
run = "atlas schema apply --auto-approve --env local --var url=$DATABASE_URL"
run_windows = "atlas schema apply --auto-approve --env local --var url=%DATABASE_URL%"

[tasks."bot:check-env"]
hide = true
run = "test -f {{ config_root }}/.env"
run_windows = 'IF NOT EXIST {{ config_root }}\.env (EXIT /B 2)'

[tasks."bot:check-config"]
hide = true
run = "test -f {{ config_root }}/config.yml"
run_windows = 'IF NOT EXIST {{ config_root }}\config.yml (EXIT /B 2)'

[tasks."bot:docker:pull"]
depends = ["bot:check-env"]
description = "Pulls any images down for use for the development databases"
dir = "{{ config_root }}"
run = "docker compose -f docker/docker-compose.dev.yml --env-file .env pull"

[tasks."bot:docker:up"]
depends = ["bot:check-env"]
description = "Brings up the development databases through Docker Compose"
dir = "{{ config_root }}"
run = "docker compose -f docker/docker-compose.dev.yml --env-file .env up -d"

[tasks."bot:docker:start"]
depends = ["bot:check-env"]
description = "Brings up the development databases through Docker Compose"
dir = "{{ config_root }}"
run = [{ task = "bot:docker:pull" }, { task = "bot:docker:up" }]

[tasks."bot:docker:stop"]
depends = ["bot:check-env"]
description = "Stops the development databases through Docker Compose"
dir = "{{ config_root }}"
run = "docker compose -f docker/docker-compose.dev.yml --env-file .env stop"

# Docs tasks
[tasks."docs:auto:build"]
description = "Builds documentation and serves using sphinx-autobuild"
env._.path = ".venv/bin"
dir ="{{ config_root }}/docs"
run = "uv run sphinx-autobuild -nTW . ./_build/dev/html"

[tasks."docs:preview:build"]
description = "Builds the documentation for production"
env._.path = ".venv/bin"
dir ="{{ config_root }}/docs"
run = "uv run sphinx-build -aEnTW --keep-going . ./_build/dist/html"

# Towncrier tasks
[tasks."towncrier:create"]
description = "Creates towncrier entry"
env._.path = ".venv/bin"
usage = '''
flag "--filename <filename>" help="Filename to use"
flag "--entry <entry>" help="Entry to put in"
'''
dir = "{{ config_root }}"
run = '''
#!/usr/bin/env bash
set -euo pipefail

towncrier create ${usage_filename?} && echo "${usage_entry?}" > changes/${usage_filename?}
'''

[tasks."towncrier:build"]
description = "Builds towncrier changelog"
env._.path = ".venv/bin"
dir = "{{ config_root }}"
run = "towncrier build --yes"
