[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
aiodns = "*"
brotli = "*"
sqlalchemy = "*"
orjson = "*"
lxml = "*"
asyncpraw = "*"
asyncpg = "*"
uvloop = "*"
ujson = "*"
aiohttp = "==3.8.1"
qrcode = {extras = ["pil"], version = "*"}
cchardet = "*"
beautifulsoup4 = "*"
py-cord = {version = "==2.0.0b5", extras = ["voice"]}

[dev-packages]
black = "*"
autopep8 = "*"
isort = "*"
autoflake = "*"
pyflakes = "*"

[requires]
python_version = "3.10"
