[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
aiodns = "*"
brotli = "*"
orjson = "*"
asyncpraw = "*"
uvloop = "*"
aiohttp = "*"
cchardet = "*"
py-cord = {version = "==2.1.3", extras = ["voice"]}
pysimdjson = "*"
gql = {extras = ["aiohttp"], version = "*"}
python-dateutil = "*"
rin-exceptions = "*"
numpy = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
