name: Dependabot Auto-Merge
on: 
  pull_request_target:
    types: [opened]

  workflow_run:
    workflows: ["Lint", "CodeQL"]
    branches: [main]
    types: [completed]

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    name: Dependabot Auto-Merge
    runs-on: ubuntu-24.04

    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - name: Fetch Dependabot Metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Enable auto-merge for Dependabot PRs
        if: ${{steps.metadata.outputs.update-type != 'version-update:semver-major'}}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}