name: Lint
on:
  push:
    branches: [main]
      
  pull_request:
    branches: [main]

jobs:
  Check:
    name: Check (${{ matrix.version }})
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        version: ["3.12", "3.13", "3.14"]

    env:
      # Configure a constant location for the uv cache
      UV_CACHE_DIR: /tmp/.uv-cache

    steps:
      - name: Checkout Repository  
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # 7.2.0
        with:
          version: "latest"
  
      - name: Cache Dependencies
        id: cache-uv
        uses: actions/cache@v5
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}
    
      - name: Install Dependencies
        if: steps.cache-uv.outputs.cache-hit != 'true'
        run: |
          uv sync --frozen
  
      - name: Check typing
        run: |
          uv run pyright src

      - name: Check codebase
        run: |
          uv run ruff check src --exit-non-zero-on-fix

      - name: Check for formatting
        run: |
          uv run ruff format src --check

      - name: Minimize uv cache
        run: |
          uv cache prune --ci