name: Release
on:
  push:
    branches: [main]
jobs:
  Bundle:
    runs-on: ubuntu-24.04
    if: contains(github.event.head_commit.message, '#major') || contains(github.event.head_commit.message, '#minor') || contains(github.event.head_commit.message, '#patch')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Prepare for bundling
        run: |
          mkdir -p kumiko-docker
          mkdir -p releases
          cp docker/docker-compose.yml kumiko-docker/docker-compose.yml
          cp .env.dist kumiko-docker/.env.dist
  
      - name: Bundle docker-related files
        run: |
          zip releases/kumiko-docker.zip kumiko-docker/**
          tar -czf releases/kumiko-docker.tar.gz kumiko-docker/**
  
      - name: Upload bundle
        uses: actions/upload-artifact@v6
        with:
          path: releases
  

  Release:
    runs-on: ubuntu-24.04
    needs: Bundle
    if: contains(github.event.head_commit.message, '#major') || contains(github.event.head_commit.message, '#minor') || contains(github.event.head_commit.message, '#patch')
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: '0'

    - name: Download Artifacts
      uses: actions/download-artifact@v7
      with:
        name: artifact
        path: releases

    - name: Generate release notes
      uses: no767/get-releasenote@3eedfc5c134cf232520bb18ccc856838dbdc0b3f
      with:
        name: Kumiko
        changes_file: changelog.md
        output_file: output.md
        version_file: src/cogs/__init__.py

    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.67.0
      id: tag_version
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        WITH_V: true
        RELEASE_BRANCHES: main
        
    - name: Release New Version
      uses: ncipollo/release-action@v1
      with:
        bodyFile: "output.md"
        token: ${{ secrets.PAT_TOKEN }}
        tag: ${{ steps.tag_version.outputs.new_tag }}
        name: ${{ steps.tag_version.outputs.new_tag }}
        artifacts: "releases/kumiko-docker.zip,releases/kumiko-docker.tar.gz"