name: Release
on:
  push:
    branches:
      - master
jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'
    - name: Create Tag + Bump Version
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.PAT_TOKEN }}
        release_branches: master
        default_bump: minor
        custom_release_rules: "Release:major,Update:minor,Fix:patch"
      id: tag_version
    - name: Release New Version
      uses: ncipollo/release-action@v1
      with:
        bodyFile: "changelog.md"
        token: ${{ secrets.PAT_TOKEN }}
        tag: ${{ steps.tag_version.outputs.new_tag }}
        name: ${{ steps.tag_version.outputs.new_tag }}